name: CI/CD

on: [pull_request, push]

jobs:
  continous-integration:
    runs_on: ubuntu_latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build
        run: docker build ./build/package/Dockerfile
  
  deploy:
    runs_on: ubuntu_latest
    if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/main'
    needs: [continous-integration]
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to EC2
        env:
          PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
          HOST: ${{ secrets.EC2_HOST }}
          USER: ${{ secrets.EC2_USER }}
          BRANCH: ${{ github.ref_name }}
        run: |
          echo "$PRIVATE_KEY" > sisconf-go-microservice.pem && chmod 600 sisconf-go-microservice.pem
          ssh -o StrictHostKeyChecking=no -i sisconf-go-microservice.pem ${USER}@${HOST} << 'EOF'

          if [ -d "sisconf-orders-group-ms" ]; then
            cd sisconf-orders-group-ms
            sudo docker compose -f docker-compose-prod.yml down
          fi

          sudo rm -rf sisconf-orders-group-ms

          git clone --branch ${BRANCH} --single-branch https://github.com/SISCONF/sisconf-backend.git
          touch .env
          cat ~/.env > .env
          cd ~/sisconf-orders-group-ms
          sudo docker compose -f docker-compose-prod.yml up -d
          EOF
